{#
/**
 * @file
 * Profile ayaka-header block.
 */
#}
<nav>
  <div class="nav-page navi-position pc-only-nav">
    <ul class="global-menu">
      <li><a href="/"><i class="fa fa-home"></i><span>Top</span><span>Ayaka Okuda</span></a></li>
      <li><a href="/#news"><i class="fa fa-newspaper-o"></i><span>News</span></a></li>
      <li><a href="/blog"><i class="fas fa-pencil-alt"></i><span>Blog List</span></a></li>
      <li><a href="/#intro"><i class="fa fa-user"></i><span>About</span></a></li>
      <li><a href="/#myfitness"><i class="fa fa-heartbeat"></i><span>My Fitness</span></a></li>
      <li><a href="/#schedule"><i class="fa fa-calendar"></i><span>Schedule</span></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100005307122079" target="_blank"><i class="fa fa-facebook-official"></i><span>Facebook<i class="fas fa-external-link-alt"></i></span></a></li>
      <li><a href="https://www.instagram.com/ayaka_908/" target="_blank"><i class="fab fa-instagram"></i><span>Instagram<i class="fas fa-external-link-alt"></i></span></a></li>
    </ul>
  </div>
  <div class="nav-page navi-position sp-only-nav">
    <div class="menu-header">
      <div class="menu-open-btn"><i class="fas fa-bars"></i></div>
      <div class="menu-close-btn"><i class="fas fa-times"></i></div>
      <div class="logo">
        <a href="#top"><span>Ayaka Okuda</span></a>
      </div>
    </div>
    <ul class="global-menu">
      <li><a href="/"><i class="fa fa-home"></i><span>Top</span></a></li>
      <li><a href="/#news"><i class="fa fa-newspaper-o"></i><span>News</span></a></li>
      <li><a href="/#blog"><i class="fas fa-pencil-alt"></i><span>Blog</span></a></li>
      <li><a href="/blog"><i class="fas fa-book-open"></i><span>Blog List</span></a></li>
      <li><a href="/#intro"><i class="fa fa-user"></i><span>About</span></a></li>
      <li><a href="/#myfitness"><i class="fa fa-heartbeat"></i><span>My Fitness</span></a></li>
      <li><a href="/#schedule"><i class="fa fa-calendar"></i><span>Schedule</span></a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100005307122079" target="_blank"><i class="fa fa-facebook-official"></i><span>Facebook<i class="fas fa-external-link-alt"></i></span></a></li>
      <li><a href="https://www.instagram.com/ayaka_908/" target="_blank"><i class="fab fa-instagram"></i><span>Instagram<i class="fas fa-external-link-alt"></i></span></a></li>
    </ul>
  </div>
</nav>
