{#
/**
 * @file
 * Profile ayaka-header block.
 */
#}
<!-- 4: MY FITNESS -->
<atrticle>
  <div class="page-container" id="myfitness">
    <h1 class="article-title">My Fitness</h1>
    <div class="myf-wrap">
      <div class="myf-sentence">
        <h2><span>少しの興味が</span><span>未来の身体に</span></h2>
        <p>
          <span class="p">
          ダイエット、健康維持、体力作り、ストレス解消...
          運動を始めようと思うきっかけは様々です。
          そして、運動のスタイルも様々です。
          </span>
          <span class="p">
          ジョギング、マシンでのワークアウト、スイミング、サイクリング...
          多様なスタイルの中でも私自身が皆様に提供しているものは、
          スタジオにてテーマに沿ったレッスンを行う「グループレッスン」です。
          </span>
        </p>
        <h2>グループレッスン</h2>
        <p>
          <span class="p">
          グループレッスンでは、レッスンごとにいろいろなプログラムを設け、
          決まった時間の中でウォーミングアップ、ワークアウト、クールダウンを行います。
          </span>
          <span class="p">
          現在私がインストラクターとして行っているプログラムは
          エアロビクス・ボディコンバット・ヨガの３種類です。
          </span>
        </p>
        <div class="myf-box">
          <div class="myf-item myf-item-aero">
            <div class="myf-title">
              <h3>Aerobics</h3>
              <h4>エアロビクス</h4>
            </div>
            <div class="myf-icon icon-icon_aero"></div>
            <div class="myf-ex">
              <p><span>STEP,</span><span>TRAINING</span></p>
            </div>
          </div><!-- end of myf-item-aero -->         
          <div class="myf-item myf-item-combat">
            <div class="myf-title">
              <h3><span>Body</span><span>Combat</span></h3>
              <h4>ボディコンバット</h4>
            </div>
            <div class="myf-icon icon-icon_combat"></div>
            <div class="myf-ex">
              <p><span>LET'S</span><span>MARTIAL ARTS</span></p>
            </div> 
          </div><!-- end of myf-item-combat -->
          <div class="myf-item myf-item-yoga">
            <div class="myf-title">
              <h3>Yoga</h3>
              <h4>ヨガ</h4>
            </div>
            <div class="myf-icon icon-icon_yoga"></div>
            <div class="myf-ex">
              <p><span>ASANA</span><span>POSE</span></p>
            </div>
          </div><!-- end of myf-item-yoga -->
        </div><!-- end of myf-box -->
        <h2>充実感</h2>
        <p>
          <span class="p">
          運動を始めても、いつの間にかまた運動しない日々に逆戻り...
          というお話を耳にすることがあります。
          せっかく興味を持ったのに、やめてしまってはもったいない。
          </span>
          <span class="p">
          そこで運動を継続してもらうために必要なことは何だろうか...
          と私なりに考えてみた結果、「充実感」というキーワードに辿り着きました。
          </span>
          <span class="p">
          約一時間のレッスンプログラムを皆で最後まで集中して行うことで「達成感」が生まれます。<wbr>
          そんな体験を積み重ねていくことで運動に対する自信が増し、
          「充実感」が日常生活にプラスされるのではないかと考えました。
          </span>
          <span class="p">
          様々なタイプのプログラムがありますが、どのレッスンにおいても
          皆様が過ごす時間が「充実感」につながるものとなり、運動を継続していく手助けができればと思っております。
          </span>
        </p>
      </div>
    </div>
    <!-- end of myf-wrap -->
  </div>
  <!-- end of #myfitness -->
</atrticle>