{#
/**
 * @file
 * Profile ayaka-footer block.
 */
#}
<!-- Footer -->
<footer>
  <div class="footer">
    <p><small>お問い合わせ</small></p>
    <address>
      <a href="mailto:a.okuda98@gmail.com">
        <span>Contact Me via E-Mail<span>
        <i class="fa fa-envelope"></i></span>
      </a>
    </address>
    <p><small>Fitness Insrtuctor / Ayaka Okuda</small></p>
    <p><small>Copyright © 2016 Ayaka Okuda AllRightsReserved</small></p>
  </div>
</footer>
