{#
/**
 * @file
 * Profile ayaka-header block.
 */
#}
<header>
  <div class="page-container" id="top">
    <h1>
      <div class="names-top">
        <span>A</span>
        <span>y</span>
        <span>a</span>
        <span>k</span>
        <span>a</span>
      </div>
      <div class="names-btm">
        <span>O</span>
        <span>k</span>
        <span>u</span>
        <span>d</span>
        <span>a</span>
      </div>
      <div class="sub-head">
        Fitness Instructor
      </div>
    </h1>
    <img src="sites/default/files/images/top_header.png" alt="top image">
  </div>
  <nav>
    <div class="nav">
      <ul class="global-menu">
        <li><a href="#top"><i class="fa fa-home"></i><span>Top</span><span>Ayaka Okuda</span></a></li>
        <li><a href="#news"><i class="fa fa-newspaper-o"></i><span>News</span></a></li>
        <li><a href="#intro"><i class="fa fa-user"></i><span>About</span></a></li>
        <li><a href="#myfitness"><i class="fa fa-heartbeat"></i><span>My Fitness</span></a></li>
        <li><a href="#schedule"><i class="fa fa-calendar"></i><span>Schedule</span></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100005307122079" target="_blank"><i class="fa fa-facebook-official"></i><span>Facebook</span></a></li>
      </ul>
    </div>
  </nav>
</header>
