{#
/**
 * @file
 * Profile ayaka-header block.
 */
#}
<!-- 3: INTRO -->
<article>
  <div class="page-container" id="intro">
    <h1 class="article-title">About Me</h1>
    <div class="intro-wrap">
      <div class="intro-contents">  
        <div class="intro-myimg"></div>
        <p class="intro-name">奥田　彩香</p>
        <p class="intro-text">
          <span class="p">
          2013年より、フィットネスインストラクターとして福井県内のスポーツクラブ・施設等にてレッスンを行っております。
          </span>
          <span class="p">
          「普段の生活の中ではゆっくりとご自身の身体に向き合うことがない」という方々に、レッスンを通じてご自身の身体と向き合う時間と空間を提供していくことを目指し、私自身も一回一回のレッスンを積み重ねながら成長していければと思っております。
          </span>
        </p>
      </div>
      <div class="intro-contents">
        <h2 class="intro-title">LICENSE</h2>
        <ul>
          <li><span class="br">AFAA プライマリーフィットネス</span><span class="br">インストラクター認定(エアロビクス)</span></li>
          <li>全米ヨガアライアンス RYT 200h</li>
          <li>AFAA YOGA認定</li>
          <li><span class="br">CPR</span><span class="br">(心肺蘇生法・応急手当トレーニング認定)</span></li>
          <li>日本アロマ環境協会　アロマテラピー2級</li>
        </ul>
      </div>
    </div><!--intro-wrap-->  
  </div><!--intro-->
</article>
